@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1777038838666') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tiantianxianguodian_mihoutao:before {
  content: "\e612";
}

.icon-hongsezhutigouwuchekong:before {
  content: "\e6d7";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-meishi2:before {
  content: "\fef7";
}

.icon-tianpinyinpin-03:before {
  content: "\e614";
}

